[Desktop Entry]
Type=Application
Version=0.9.4
Name=Uninstall NAO meshes
Comment=Uninstall
Icon=
Exec=/home/jose/medeiros_ws/devel/tmp/uninstall
Terminal=false
Path=/home/jose/medeiros_ws/devel/tmp